#page-room {
  header {
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    background: #f8f8f8;

    .content {
      width: 90%;
      max-width: 1120px;
      height: 64px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        height: 40px;

        @media(min-width: 720px) {
          height: 45px;
        }
      }

      > div {
        display: flex;
        gap: 10px;

        @media(min-width: 720px) {
          gap: 18px;
        }
      }
    }
  }

  main {
    width: 90%;
    max-width: 1120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    aside {
      width: 100%;
      max-width: 500px;
    }

    .room-title {
      width: 100%;
      max-width: 500px;
      margin-top: 32px;
      display: flex;
      justify-content: flex-start;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #292929;
      }

      span {
        width: 118px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14px;
        background: #e559f9;
        border-radius: 9999px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      margin-top: 32px;

      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
        resize: vertical;
        min-height: 114px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;

        .user-info {
          display: flex;
          align-items: center;
          
          img {
            width: 54px;
            height: 54px;
            border-radius: 50%;
          }

          > span {
            margin-left: 9px;
            color: #292929;
            font-weight: 14px;
          }
        }

        span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        .form-button {
          border-radius: 5px;
          font-weight: 500;
          background: #835afd;
          color: #fff;
        
          padding: 9px 29px;
        
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        
          cursor: pointer;
          border: 0;        
        }
      }
    }

    .question-list {
      width: 100%;
      max-width: 500px;
      margin: 32px 0;
    }

  }

  @media (min-width: 1200px) {
    header {
      position: fixed;
      top: 0;
      left: 0;

      z-index: 2000;
    }

    main {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
     
      margin-top: 65px;
      position: relative;
    }

    aside {
      position: fixed;
      top: 0px;
      left: 6%;

      margin-top: 65px;
    }

    .room-title {
      height: 35px;
    }
  }

  @media (min-width: 1270px) {
    aside {
      left: 7%;
    }
  }

  @media (min-width: 1300px) {
    aside {
      left: 8%;
    }
  }

  @media (min-width: 1300px) {
    aside {
      left: 9%;
    }
  }

  @media (min-width: 1370px) {
    aside {
      left: 10%;
    }
  }

  @media (min-width: 1400px) {
    aside {
      left: 11%;
    }
  }

  @media (min-width: 1440px) {
    aside {
      left: 12%;
    }
  }
}