.question {
  height: 170px;
  background: #fefefe;
  border-radius: 9px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  padding: 23px;

  & + .question {
    margin-top: 18px;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    height: 80px;
    line-height: 20px;
    color: #292929;
    overflow: hidden;
    max-height: 80px;

    @media (min-width: 320px) {
      line-height: 22px;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;

    .user-info {
      display: flex;
      align-items: center;
      
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > span {
        margin-left: 5px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 9px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke:  #fff;
            fill: #835afd;
          }
        }
      }
    }
  }

  @media (min-width: 700px) {
    height: 140px;

    p {
      height: 50px;
    }
  }
}